/*Body*/

body {
    background-color: white;
}

#main-content,
#main-header,
#main-footer {
    padding: 20px 40px;
    margin: auto;
}

#main-nav li {
    text-align: center;
}

#main-footer p {
    text-align: right;
}

#main-footer {
    margin-top: 25px;
}

/*Text Boxes*/

#txt-message {
    width: 300px;
    height: 50px;
}

#txt-name,
#txt-email,
#txt-subject {
    width: 200px;
    height: 20px;
}

#btn-submit {
    height: 50px;
    width: 100px;
}

/*Main Nav*/

#main-nav ul {
    padding-left: 0px;
    padding: 5px;
    margin: 5px;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

#main-nav a:hover {
    border-bottom: 1px solid black;
}

/*Hamburger Menu*/

#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/*Typography*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

#main-nav li {
    font-size: 1.5em;
}

/*Larger Resolution*/

@media only screen and (min-width:900px) {
    #main-nav-items,
    .img1of3,
    .columns {
        display: flex;
    }

    #box2 {
        margin-top: 150px;
        position: relative;
        right: 150px;
    }

    #btn-submit {
        position: relative;
        top: 100px;
        right: 100px;
    }

    #main-nav-items li {
        flex: 1;
    }

    #nav-toggle {
        display: none;
    }

    .img1of3,
    .columns {
        justify-content: space-between;
    }

    .columns {
        text-align: center;
    }
}