/* Structure */

body {
    background-color: #788BFF;
}

.project,
#project-details-column,
#main-nav-items {
    padding: 10px 10px;
    margin: 10px;
    background: white;
    border-radius: 10px;
    border: 3px solid black;
}

#main-nav li {
    text-align: center;
} 

.project img {
    max-width: 90%;
    display: block;
    margin: auto;
}

#main-footer {
    padding: 20px 40px;
    margin-top: -350px;
    text-align: right;
}

#add-link {
    font-size: 1.5em;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    transition: transform 0.3s, z-index 0s, box-shadow 0.3s;
    z-index: 1;
}

#add-link:hover {
    transform: scale(1.009);
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#edit-link {
    float: right;
    margin-right: 10px;
}

#delete-link {
    float: right;
}

#add-edit-project-container {
    padding: 10px;
    margin: 10px;
    background: white;
    border-radius: 10px;
    border: 3px solid black;
}

section,
#project-details-column {
    transition: transform 0.3s, z-index 0s, box-shadow 0.3s;
    z-index: 1;
}

section:hover,
#project-details-column:hover {
    transform: scale(1.009);
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/*Main Nav*/

#main-nav ul {
    padding-left: 0px;
    padding: 5px;
    margin: 5px;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

#main-nav a:hover {
    border-bottom: 1px solid black;
}

#main-nav {
    margin-bottom: 15px;
}

/* Form */

label {
    display: block;
}

.inline {
    display: inline;
}

#projects-p input {
    margin-top: 5px;
}

#add-project {
    color: #E94F37;
    font-size: 0.75em;
    text-align: right;
}

/*Hamburger Menu*/

#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0px 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

#main-nav li {
    font-size: 1.5em;
}

#main-content li {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

h1,
h2,
a {
    color: black;
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}

#main-footer {
    font-weight: bolder;
}


/* Larger Resolutions */

@media only screen and (min-width:1100px) {
    #main-nav-items {
        display: flex;
    }

    #main-nav-items li {
        flex: 1;
    }

    #nav-toggle {
        display: none;
    }

    #add-edit-recipe-container {
        max-width: 30%;
        margin: auto;
    }
}