/*Structure*/

#main-header {
    background-color: khaki;
    margin: 5px;
}

#main-content {
    margin: 5px;
}

#main-footer {
    background-color: khaki;
    margin: 5px;
    padding: 5px;
}

.col1of3 {
    background-color: chartreuse;
    border: 5px solid indigo;
    padding-left: 0px;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
}

#button-show, #button-hide {
    margin: auto;
    margin-bottom: 5px;
}

.hide {
    display: none;
}

#football {
    background: transparent;
}

/*Animation*/

.move-ball {
    position: relative;
    animation-name: anim-ball;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes anim-ball {
    0% {
        bottom: 50px;
        left: 100px;
    }
    50% {
        bottom: 20px;
        left: 300px;
    }
    100% {
        bottom: 10px;
        left: 100px;
    }
}

/*Typography*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

#main-footer p {
    text-align: center;
    font-size: 18px;
}

/*Larger Resolutions*/

@media only screen and (min-width: 900px) {
    
    .content {
        display: flex;
    }
    
    .col1of3 {
        flex: 1;
    }
}
